
@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}


body {
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}


/* -----------Jalali Date Begins------------ */
.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "calendar"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}
/* -----------Jalali Date Ends------------ */

/* --------------Responsive Sidabar Begins */
.sidebar_bottom
{
    position: absolute;
    bottom:10px;
    width:100%;
}

.sidebar_bottom img
{
    margin:0 auto 0 !important;
    width:87px !important;
}

.sidebar_bottom h4
{
    font-size:12px !important;
    text-align:center !important;
    direction:rtl !important;
    margin:0px auto 0 !important;
    font-family:"Samim" !important;
}
/* --------------Responsive Sidabar Ends */



/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    display:block !important;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:80px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.image_fixed
{
    margin-right:30px;
    float:left !important;
    width:210px !important;
}

.bars_fixed
{
    display:none !important;
    cursor:pointer;
    width:90px;
    padding-top:10px !important;
    line-height:30px;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:95px;
    padding-bottom:10px !important;
}

.login_fixed
{
    width:90px;
    padding-top:9px !important;
    line-height:28px;
}

.sign_up_fixed
{
    width:100px;
    padding-top:9px !important;
    line-height:35px;
}

.dashboard_fixed
{
    width:110px;
    padding-top:9px !important;
    line-height:30px;
}

.selected_fixed
{
    width:140px !important;
    font-weight:600 !important;
    color:black;
    background-color:rgb(235, 235, 235);
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.bars_fixed .bars.icon
{
    font-size:20px;
    position:relative;
    top:4px;
}

.login_fixed .sign-in.icon
{
    color:#52a7cc;
    font-size:23px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus.icon
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

/* ------------------------------------------------------------------------------- fixed menu ends */




/* ------------------------ Side bar Begins ------------- */

/* ----- Side bar user Begins ----- */

.sidebar_user_image
{
    /* background-color:red; */
    margin-top:10px;
    text-align:center;
}

.sidebar_user_image img
{
    width:130px !important;
    height:130px !important;
}

.sidebar_user_image h4
{
    font-family:"Samim" !important;
    border-radius:4px;
    position:relative;
    bottom:25px;
    background-color: #fc0;
    padding:5px 15px 5px 15px;
    font-size:13px;
    display:inline-block;
    text-align:center;
    margin:0 auto 0 !important;
}

.sidebar_user_image h3
{
    font-family:"Samim" !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:15px;
    position:relative;
    bottom:13px;
}

/* ----- Side bar user Ends ----- */

#sidebar
{
  margin-top: 60px !important;
  max-height: calc(100% - 60px) !important;
  height: calc(100% - 60px) !important;

  direction:rtl !important;
  width:250px;
  box-shadow: 0px 0px 10px 3px #ececec;
  background-color:#fff;
}

#sidebar2
{
  height:100% !important;

  direction:rtl !important;
  max-width:270px;
  min-width:240px;
  width:80%;
  background-color:#fff;
}

#sidebar .item i.icon, #sidebar2 .item i.icon
{
  float: right;
  margin: 0em 0.5em 0em 10px;
}

#sidebar div.item, #sidebar2 div.item
{
    /* background-color:blue !important; */
    padding:20px 5px 20px 0px;
    font-family:"Samim" !important;
    font-size:16px;
    color:black;
    border-top:2px solid rgb(247, 247, 247);

    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

#sidebar div.item:hover, #sidebar2 div.item:hover
{
    padding-right:20px;
    background-color:rgb(214, 214, 214) !important;
}

#sidebar .user.icon
{
    color:rgb(8, 80, 121);
}

#sidebar2 .user.icon
{
    color:rgb(85, 85, 85);
}

#sidebar .paper.icon, #sidebar2 .paper.icon
{
    color:#0088cc;
}

#sidebar .calendar.icon, #sidebar2 .calendar.icon
{
    color:rgb(238, 12, 57);
}

#sidebar .chart.icon, #sidebar2 .chart.icon
{
    font-size:18px;
    position:relative;
    bottom:3px;
    left:4px;
    color:#41b3a3;
}

#sidebar2 .flask.icon
{
    color:goldenrod !important;
    position:relative;
    bottom:3px;
    font-size:17px;
}

#sidebar2 .home.icon
{
    color:rgb(13, 121, 54) !important;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar2 .map.signs.icon
{
    color:#425c81;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar::-webkit-scrollbar, #sidebar2::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#sidebar, #sidebar2
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ---------Accordion Begins----------- */
.ui.accordion .title:not(.ui)
{
    padding:0px !important;
}

#sidebar2 .ui.accordion, #sidebar2 .ui.accordion .title,
#sidebar2 .ui.accordion .title .item,
#sidebar2 .ui.accordion .content
{
    text-align:right !important;
    direction:rtl !important;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui)
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.accordion_sub_item.transition.visible:hover
{
    padding-right:45px;
}

.accordion_sub_item
{
    cursor:pointer;
    display:block;
    font-family:"Samim";
    padding:11px 33px 11px 0px;
    color:rgb(0, 0, 0) !important;
    
    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

.message_number
{
    float:left;
    margin-left:10px;
    padding-top:4px;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

    border:1px solid #fce8e6;
    background-color:#fce8e6;
    color: #d93025;

    width:30px !important;
    height:30px !important;
    border-radius:100%;
    text-align:center !important;
    position:relative;
    bottom:5px;
}

.accordion_sub_item .icon
{
    font-size:15px;
    margin: 0em 0.5em 0em 5px;
}

.accordion_sub_item .inbox.icon
{
    color:#41b3a3;
}

.accordion_sub_item .bell.icon
{
    color:#e8a87c;
}

.accordion_sub_item .pencil.icon
{
    color:#659dbd;
}
/* ---------Accordion Ends----------- */
  
/* ------------------------Side bar Ends ------------- */

@media (min-width: 770px) {
    #sidebar {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    .main-content {
      margin-right:250px;
    }

    .sidebar-menu-toggler {
      display: none !important;
    }
}

@media screen and (max-width:1000px)
{
    .fixed_menu
    {
        padding-right:20px !important;
        padding-left:20px !important;
    }

}

@media screen and (max-width:835px)
{
    .fixed_menu
    {
        padding-right:10px !important;
        padding-left:10px !important;
    }

    .image_fixed
    {
        margin-top:6px;
        width:170px !important;
    }
}

@media screen and (max-width:770px)
{
    .fixed_menu_item
    {
        display:none !important;
    }

    .image_fixed, .bars_fixed
    {
        display:block !important;
    }
}

@media screen and (max-width:450px)
{
    .image_fixed
    {
        margin-top:8px;
        margin-right:15px;
        width:150px !important;
    }
}
/* Dashboard Ends */



/* -------------------Main Content Begins------------------------ */

.main-content
{
    padding-top:90px;
    padding-bottom:50px;
    /* background: linear-gradient(87deg, rgb(45, 206, 137), rgb(45, 206, 204)) !important; */
}

.message_div
{
    width:95%;
    max-width:1100px;
    margin:0 auto 0 !important;
    /* background-color:red; */
}

.message_div_top
{
    direction:rtl !important;
    /* background-color:orange; */
}

.div_message_icon
{
    /* background-color:red; */
    float:right;
}

.div_message_icon_first
{
    /* background-color:gray !important; */
    padding:5px 12px 5px 5px;
    margin-bottom:2px;
}

.div_message_icon_first .icon
{
    font-size:26px;
    margin-top:7px;
    color:rgb(148, 148, 148);
}

.div_message_icon_second
{
    /* background-color:blue !important; */
    padding:5px 5px 5px 19px;
    font-family:"Samim" !important;
    color:rgb(148, 148, 148);
}

.div_message_headers
{
    /* background-color:blue; */
    border-right:2px solid rgb(226, 226, 226);
    float:right;
}

.div_message_headers h2
{
    /* background-color:yellow; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px 0px 5px 0px!important;
}

.div_message_headers h4
{
    /* background-color:green; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px !important;
}

.small_h4
{
    font-family:"Samim" !important;
    display:none;
    line-height:27px;
    padding:0px 5px 0px 5px;
}

.clear_both
{
    clear:both;
}

.message_div_body
{
    width:95%;
    max-width:1100px;
    /* background-color:red; */
    margin:20px auto 0 !important; 
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

/* Each Order Begins */
.each_order
{
    /* margin:20px auto 0 !important; */
    width:280px !important;
}

.each_order .content .header
{
    font-family:"Samim" !important;
    text-align:right !important;
    font-size: 15px !important;
    margin-top:5px !important;
    margin-bottom:13px !important;
}

.each_order .content .meta
{
    direction:rtl !important;
    text-align:right !important;
}

.each_order .content .meta span
{
    font-family:'Segoe UI', "Samim" !important;
    font-size:13px !important;
    font-weight:400 !important;
    color:rgb(119, 119, 119) !important;
    display:block;
    position:relative;
    left:1px;
}

.each_order .content .meta span:nth-of-type(1)
{
    margin-bottom:8px;
}

.each_order .content .meta span .icon
{
    font-size:14px !important;
    color:rgb(158, 161, 158) !important;
    font-weight:100 !important;
}

.each_order .content .meta span .icon
{
    font-size:14px !important;
    font-weight:400 !important;
}

.each_order .content .description
{
    direction:rtl;
    text-align:justify;
    font-family:"Samim" !important;
    font-size: 13px !important;
}

.each_order .content .description .icon
{
    font-size: 18px !important;
}

.each_order .extra.content
{
    display:flex;
    flex-wrap:wrap;
    padding:7px 3px 7px 3px !important;
}

.each_order .extra.content button
{
    margin:0 auto 0;
    width:48%;
    min-width:120px;
    font-family:"Samim" !important;
    font-weight:500 !important;
}

.survey_button
{
    background-color: #fc0 !important;
}
/* Each Order Ends */




/* Modal Begins */
.modal_header .ui.image
{
    display:block;
    margin:0 auto 10px;
}

#rating_modal
{
    max-width:calc(270px + 270px + 160px);
}

#rating_modal .modal_header
{
    font-family:"Samim" !important;
    text-align:center;
    padding:15px 20px 20px 20px!important;
    background-color:rgb(247, 247, 247);
    border-bottom:1px solid rgb(224, 224, 224);
}

#rating_modal .modal_body
{
    padding:15px;
}

#rating_modal .button
{
    font-family:"Samim" !important;
}

.each_question
{
    padding:0px 10px 0px 10px !important;
}

.each_question_text
{
    font-family:"Samim" !important;
    font-size:14px;
    line-height:22px !important;
    direction:rtl !important;
    text-align:right !important;
}

.commitment_number
{
    font-weight:700;
    display:inline-block;
    margin:5px !important;
    padding:6px 13px 6px 13px!important;
    border-radius:100%;
    background-color:rgb(219, 219, 219);
}

.each_question .rating_container
{
    width:100%;
    text-align:center;
    margin:0 auto 0 !important;
}

.ui.divider
{
    margin-top:20px !important;
    margin-bottom:20px !important;
}


/* -------------------Main Content Ends------------------------ */



@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .main-content {
    /* margin-left: 15rem; */
    margin-right:250px;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */

@media screen and (max-width:470px)
{
    .div_message_headers h2
    {
        padding:8px 20px 7px 5px !important;
    }

    .div_message_headers h4
    {
        display:none;
    }

    .div_message_icon_first
    {
        padding:5px 12px 0px 5px;
        margin-bottom:0px;
    }

    .div_message_icon_first .icon
    {
        margin-top:1px;
        font-size:22px;
    }

    .div_message_icon_second
    {
        padding:0px 5px 5px 19px;
    }

    .small_h4
    {
        display:block;
    }
}