
@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}


body {
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}


/* -----------Jalali Date Begins------------ */
.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "calendar"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}
/* -----------Jalali Date Ends------------ */

/* --------------Responsive Sidabar Begins */
.sidebar_bottom
{
    position: absolute;
    bottom:10px;
    width:100%;
}

.sidebar_bottom img
{
    margin:0 auto 0 !important;
    width:87px !important;
}

.sidebar_bottom h4
{
    font-size:12px !important;
    text-align:center !important;
    direction:rtl !important;
    margin:0px auto 0 !important;
    font-family:"Samim" !important;
}
/* --------------Responsive Sidabar Ends */



/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    display:block !important;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:80px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.image_fixed
{
    margin-right:30px;
    float:left !important;
    /* width:210px !important; */
    margin-top:3px;
    width:192px !important;
}

.bars_fixed
{
    display:none !important;
    cursor:pointer;
    width:90px;
    padding-top:10px !important;
    line-height:30px;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:95px;
    padding-bottom:10px !important;
}

.login_fixed
{
    width:90px;
    padding-top:9px !important;
    line-height:28px;
}

.sign_up_fixed
{
    width:100px;
    padding-top:9px !important;
    line-height:35px;
}

.dashboard_fixed
{
    width:110px;
    padding-top:9px !important;
    line-height:30px;
}

.selected_fixed
{
    width:140px !important;
    font-weight:600 !important;
    color:black;
    background-color:rgb(235, 235, 235);
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.bars_fixed .bars.icon
{
    font-size:20px;
    position:relative;
    top:4px;
}

.login_fixed .sign-in.icon
{
    color:#52a7cc;
    font-size:23px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus.icon
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

/* ------------------------------------------------------------------------------- fixed menu ends */




/* ------------------------ Side bar Begins ------------- */

/* ----- Side bar user Begins ----- */

.sidebar_user_image
{
    /* background-color:red; */
    margin-top:10px;
    text-align:center;
}

.sidebar_user_image img
{
    width:130px !important;
    height:130px !important;
}

.sidebar_user_image h4
{
    font-family:"Samim" !important;
    border-radius:4px;
    position:relative;
    bottom:25px;
    background-color: #fc0;
    padding:5px 15px 5px 15px;
    font-size:13px;
    display:inline-block;
    text-align:center;
    margin:0 auto 0 !important;
}

.sidebar_user_image h3
{
    font-family:"Samim" !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:15px;
    position:relative;
    bottom:13px;
}

/* ----- Side bar user Ends ----- */

#sidebar
{
  margin-top: 60px !important;
  max-height: calc(100% - 60px) !important;
  height: calc(100% - 60px) !important;

  direction:rtl !important;
  width:250px;
  box-shadow: 0px 0px 10px 3px #ececec;
  background-color:#fff;
}

#sidebar2
{
  height:100% !important;

  direction:rtl !important;
  max-width:270px;
  min-width:240px;
  width:80%;
  background-color:#fff;
}

#sidebar .item i.icon, #sidebar2 .item i.icon
{
  float: right;
  margin: 0em 0.5em 0em 10px;
}

#sidebar div.item, #sidebar2 div.item
{
    /* background-color:blue !important; */
    padding:20px 5px 20px 0px;
    font-family:"Samim" !important;
    font-size:16px;
    color:black;
    border-top:2px solid rgb(247, 247, 247);

    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

#sidebar div.item:hover, #sidebar2 div.item:hover
{
    padding-right:20px;
    background-color:rgb(214, 214, 214) !important;
}

#sidebar .user.icon
{
    color:rgb(8, 80, 121);
}

#sidebar2 .user.icon
{
    color:rgb(85, 85, 85);
}

#sidebar .paper.icon, #sidebar2 .paper.icon
{
    color:#0088cc;
}

#sidebar .calendar.icon, #sidebar2 .calendar.icon
{
    color:rgb(238, 12, 57);
}

#sidebar .chart.icon, #sidebar2 .chart.icon
{
    font-size:18px;
    position:relative;
    bottom:3px;
    left:4px;
    color:#41b3a3;
}

#sidebar2 .flask.icon
{
    color:goldenrod !important;
    position:relative;
    bottom:3px;
    font-size:17px;
}

#sidebar2 .home.icon
{
    color:rgb(13, 121, 54) !important;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar2 .map.signs.icon
{
    color:#425c81;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar::-webkit-scrollbar, #sidebar2::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#sidebar, #sidebar2
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ---------Accordion Begins----------- */
.ui.accordion .title:not(.ui)
{
    padding:0px !important;
}

#sidebar2 .ui.accordion, #sidebar2 .ui.accordion .title,
#sidebar2 .ui.accordion .title .item,
#sidebar2 .ui.accordion .content
{
    text-align:right !important;
    direction:rtl !important;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui)
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.accordion_sub_item.transition.visible:hover
{
    padding-right:45px;
}

.accordion_sub_item
{
    cursor:pointer;
    display:block;
    font-family:"Samim";
    padding:11px 33px 11px 0px;
    color:rgb(0, 0, 0) !important;
    
    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

.message_number
{
    float:left;
    margin-left:10px;
    padding-top:4px;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

    border:1px solid #fce8e6;
    background-color:#fce8e6;
    color: #d93025;

    width:30px !important;
    height:30px !important;
    border-radius:100%;
    text-align:center !important;
    position:relative;
    bottom:5px;
}

.accordion_sub_item .icon
{
    font-size:15px;
    margin: 0em 0.5em 0em 5px;
}

.accordion_sub_item .inbox.icon
{
    color:#41b3a3;
}

.accordion_sub_item .bell.icon
{
    color:#e8a87c;
}

.accordion_sub_item .pencil.icon
{
    color:#659dbd;
}
/* ---------Accordion Ends----------- */
  
/* ------------------------Side bar Ends ------------- */

@media (min-width: 770px) {
    #sidebar {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    .main-content {
      margin-right:250px;
    }

    .sidebar-menu-toggler {
      display: none !important;
    }
}

@media screen and (max-width:1000px)
{
    .fixed_menu
    {
        padding-right:20px !important;
        padding-left:20px !important;
    }

}

@media screen and (max-width:835px)
{
    .fixed_menu
    {
        padding-right:10px !important;
        padding-left:10px !important;
    }

    .image_fixed
    {
        margin-top:6px;
        width:170px !important;
    }
}

@media screen and (max-width:770px)
{
    .fixed_menu_item
    {
        display:none !important;
    }

    .image_fixed, .bars_fixed
    {
        display:block !important;
    }
}

@media screen and (max-width:450px)
{
    .image_fixed
    {
        margin-top:8px;
        margin-right:15px;
        width:150px !important;
    }
}
/* Dashboard Ends */



/* -------------------Main Content Begins------------------------ */

.main-content
{
    padding-top:90px;
    padding-bottom:50px;
    /* background: linear-gradient(87deg, rgb(45, 206, 137), rgb(45, 206, 204)) !important; */
}

.message_div
{
    width:95%;
    max-width:1100px;
    margin:0 auto 0 !important;
    /* background-color:red; */
}

.message_div_top
{
    direction:rtl !important;
    /* background-color:orange; */
}

.div_message_icon
{
    /* background-color:red; */
    float:right;
}

.div_message_icon_first
{
    /* background-color:gray !important; */
    padding:5px 5px 5px 5px;
    margin-bottom:2px;
}

.div_message_icon_first .icon
{
    font-size:26px;
    margin-top:7px;
    color:rgb(148, 148, 148);
}

.div_message_icon_second
{
    /* background-color:blue !important; */
    padding:5px 5px 5px 19px;
    font-family:"Samim" !important;
    color:rgb(148, 148, 148);
}

.div_message_headers
{
    /* background-color:blue; */
    border-right:2px solid rgb(226, 226, 226);
    float:right;
}

.div_message_headers h2
{
    /* background-color:yellow; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px 0px 5px 0px!important;
}

.div_message_headers h4
{
    /* background-color:green; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px !important;
}

.small_h4
{
    font-family:"Samim" !important;
    display:none;
    line-height:27px;
    padding:0px 5px 0px 5px;
}

.clear_both
{
    clear:both;
}

.message_div_body
{
    width:95%;
    max-width:1100px;
    /* background-color:red; */
    margin:40px auto 0; 
}


/* Message Info Begins */
.message_info
{
    width:95%;
    max-width:700px;
    margin:40px auto 0 !important;
    padding:0px !important;
    direction:rtl !important;
    /* background-color:red; */
}

.f0c
{
    background-color:#fc0 !important;
}

.ui.horizontal.label, .ui.horizontal.labels .label
{
    padding: .4em .833em 0.6em 0.833em !important;
}

.message_info div
{
    padding:10px 7px 10px 7px;
    border-bottom:1px solid rgb(228, 228, 228);
}

.message_info div span
{
    font-family:"Samim" !important;
}

.message_info div span:nth-of-type(1)
{
    font-size:17px;
    /* display:inline-block; */
    display:table-cell;
    width:100px;
    /* background-color:red; */
    font-weight:700;
}

.message_info div span:nth-of-type(2)
{
    font-size:13px;
    display:table-cell;
    /* background-color:red; */
}
/* Message Info Begins */


/* Show Messages Begins */
.div_show_messages
{
    width:95%;
    max-width:700px;
    margin:40px auto 0 !important;
    padding:0px !important;
}


/* Each Message Begins */
.each_message
{
    width:100%;
    /* margin-top:27px; */
}

.each_message:nth-of-type(1)
{
    margin-top:0px !important;
}

.each_message_header
{
    background-color:rgb(238, 238, 238) !important;
    padding:12px 15px 12px 15px;
}

.each_message:nth-of-type(1) .each_message_header
{
    border-top-left-radius:.18571429rem !important;
    border-top-right-radius:.18571429rem !important;
}

.each_message_header_right
{
    float:right;
}

.each_message_header_right:nth-of-type(1)
{
    margin-left:15px;
}

.each_message_header_right img
{
    width:55px;
}

.each_message_header_left
{
    float:left;
    display:block;
    /* background-color:rgb(154, 228, 176); */
    background-color:rgb(255, 196, 0);
    /* background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    font-family:"Samim";
    padding:5px 10px 5px 10px;
    margin-top:12px;
    border-radius:4px;
}

.each_message_sender, .each_message_date
{
    font-family:"Samim" !important;
    text-align:right !important;
}

.each_message_sender
{
    font-size:15px;
}

.each_message_date
{
    color:rgb(131, 131, 131);
    padding-right:1px;
    font-size:12px;
    direction:rtl !important;
}

.each_message_body, .each_message_body_attach
{
    font-family:"Samim" !important;
    direction:rtl !important;
    text-align:justify;
    padding:10px 20px 37px 20px;
    line-height:27px !important;
}

.each_message_body_attach
{
    padding:10px 20px 0px 20px;
}

.each_message_text
{
    padding:0px;
    /* background-color:orange; */
}

.each_message_attach
{
    width:70%;
    max-width:400px;
    min-width:250px;
    /* background-color:orange; */
    border-top:1px dotted rgb(201, 201, 201);
    padding:8px 8px 16px 8px;
    margin-top:20px;
    font-weight:700;
}

.each_message_attach .paperclip.icon
{
    font-size:17px;
    margin:0px !important;
}
/* Each Message Ends */


/* Show Messages Begins */




/* ---- Form Begins ---- */
#the_form
{
    width:100%;
    max-width:700px;
    /* background-color:red; */
    margin:20px auto 0;
}

.group_inputs2
{
    direction:rtl !important;
    font-family:"Samim" !important;
    /* background-color:green; */
    margin:20px auto 0 !important;
}

.group_inputs2 h3.item2
{ 
    font-family:"Samim" !important;
    margin-bottom:10px !important;
}

.group_inputs2 h4.item2
{ 
    font-family:"Samim" !important;
    font-weight:700 !important;
    color:rgb(182, 182, 182);
    font-weight:500 !important;
}

.group_inputs
{
    display:flex;
    flex-wrap:wrap;
    /* text-align:center !important; */
    direction:rtl !important;
    font-family:"Samim" !important;
    margin:20px auto 0 !important;
}


.item1, .item2, .item3, .item4
{
    width:270px !important;
    margin:0 auto 0 !important;
    direction:rtl !important;
}

.item2
{
    width:100% !important;
    /* background-color:orange; */
}

.item3
{
    width:80% !important;
    padding:0px 0px 0px 50px;
    /* background-color:red; */
}

.item4
{
    width:20% !important;
    padding-top:7px;
    /* background-color:green; */
}

.individual_input
{
    font-family:"Samim" !important;
    width:100%;
    padding:15px !important;
    direction:rtl !important;
    text-align:right !important;
    border:none;
    
    outline:none;
    font-size:15px;
    font-weight:700;
}

.ui.pointing.red.basic.label
{
    font-family:"Samim" !important;
}

.fill_input_error
{
    /* background-color:blue; */
    margin:0px !important;
    font-size:13px;
    font-family:"Samim" !important;
    text-align:right;
    padding-top:5px;
    padding-right:15px;
    color: #db2828!important;
}

.display_none
{
    display:none !important;
}


.priority
{
    text-align:left;
    padding-top:4px;
}

.priority_div_first
{
    margin-left:5px;
}

.priority_div_first, .priority_div_second
{
    margin-top:0px !important;
    display:inline-block !important;
    /* background-color:red; */
}

.priority_div_second
{
    border-radius:20px !important;
    padding:5px 5px 5px 5px !important;
}

span.regular, span.necessary, span.urgent
{
    display:inline-block;
    cursor:pointer;
    border-radius:20px !important;
    padding:5px 10px 5px 10px;
    color:rgb(155, 155, 155);
}

.active_span
{
    background-color:rgb(223, 223, 223);
    color:rgb(68, 68, 68) !important;
    font-weight: 700;
}

textarea
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    line-height:27px !important;
}

/* File Begins */
.file_submit
{
    text-align:left;
    padding-top:4px;
    /* background-color:yellow; */
}

.file_submit_div
{
    border-radius:20px !important;
    padding:5px 5px 5px 5px !important;
}

.file_submit_div .x.icon
{
    float:left;
    position:relative;
    top:5px;
    left:5px;
    color:rgb(77, 77, 77);
    cursor:pointer;
}

input[name = "file_uploads"]
{
    display:none;
}

.file_text
{
    border-radius:20px !important;
    padding:5px 10px 5px 10px;
    color:rgb(155, 155, 155);
    float:left;
    position:relative;
    top:1px;
}

.file_button
{
    float:right !important;
    padding:6px 10px 5px 10px;
    font-family:"Samim";
    border-radius:20px;
    border:1px solid rgb(216, 216, 216);
    background-color:rgb(216, 216, 216);
    outline:none;
    cursor:pointer;
}

/* File Ends */

.submit_btn
{
    border-radius:8px !important;
    padding:11px !important;
    width:100% !important;

    font-family:"Samim";
    border:1px solid rgb(0, 89, 255);
    background-color:rgb(0, 89, 255);
    border:1px solid rgb(21, 247, 115);
    background-color:rgb(21, 247, 115);
    /* color:white; */
    outline:none;
    cursor:pointer;
    
    position:relative;
    bottom:2px;
    transition-duration: 0.4s;
}

.submit_btn:hover
{
    border:1px solid rgb(33, 190, 98);
    background-color:rgb(33, 190, 98);
}

/* ---- Form Begins ---- */

/* -------------------Main Content Ends------------------------ */



@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .main-content {
    /* margin-left: 15rem; */
    margin-right:250px;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}


@media screen and (max-width:450px)
{
    .each_message_header_left
    {
        display:none;
    }
}
/*# sourceMappingURL=style.css.map */


@media screen and (max-width:470px)
{
    .div_message_headers h2
    {
        padding:8px 20px 7px 5px !important;
    }

    .div_message_headers h4
    {
        display:none;
    }

    .div_message_icon_first
    {
        padding:5px 5px 0px 5px;
        margin-bottom:0px;
    }

    .div_message_icon_first .icon
    {
        margin-top:1px;
        font-size:22px;
    }

    .div_message_icon_second
    {
        padding:0px 5px 5px 19px;
    }

    .small_h4
    {
        display:block;
    }
}



@media (max-width: 950px)
{
    .item3
    {
        padding-left:10px !important;
    }

} 

@media (max-width: 550px)
{
    .group_inputs
    {
        margin-top:0px !important;
    }

    .item2, .item3, .item4
    {
        width:100% !important;
        margin-top:15px !important;
    }

    .item3
    {
        padding-left:0px !important;
    }

} 