
@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}

textarea::placeholder
{
    font-size:13px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}


body {
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}


/* -----------Jalali Date Begins------------ */
.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "calendar"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}
/* -----------Jalali Date Ends------------ */


/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:110px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.material_logo
{
    float:left;
    margin-right:30px;
    height:60px !important;
    cursor:pointer;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:140px;
    padding-bottom:10px !important;
}

.login_fixed
{
    float:left !important;
    width:140px;
    display:block !important;
    
    padding-top:9px !important;
    line-height:30px;
}

.sign_up_fixed
{
    float:left !important;
    width:140px;
    display:block !important;
}

.dashboard_fixed
{
    float:left !important;
    width:140px;
    display:block !important;

    padding-top:9px !important;
    line-height:30px;
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.login_fixed .sign-in
{
    color:#52a7cc;
    font-size:26px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

.active_fixed
{
    font-weight:600 !important;
    color:black;
    background-color:rgb(177, 211, 221);
}

/* ------------------------------------------------------------------------------- fixed menu ends */




/* ------------------------ Side bar Begins ------------- */

/* ----- Side bar user Begins ----- */

.sidebar_user_image
{
    /* background-color:red; */
    margin-top:10px;
    text-align:center;
}

.sidebar_user_image img
{
    width:130px !important;
}

.sidebar_user_image h4
{
    font-family:"Samim" !important;
    border-radius:4px;
    position:relative;
    bottom:25px;
    background-color: #fc0;
    padding:5px 15px 5px 15px;
    font-size:13px;
    display:inline-block;
    text-align:center;
    margin:0 auto 0 !important;
}

.sidebar_user_image h3
{
    font-family:"Samim" !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:15px;
    position:relative;
    bottom:13px;
}

/* ----- Side bar user Ends ----- */

.ui.vertical.menu.sidebar-menu
{
  margin-top: 60px !important;
  max-height: calc(100% - 60px) !important;
  height: calc(100% - 60px) !important;

  direction:rtl !important;
  width:250px;
  box-shadow: 0px 0px 10px 3px #ececec;
  background-color:#fff;
}

.ui.vertical.menu.sidebar-menu .item i.icon
{
  float: right;
  margin: 0em 0.5em 0em 10px;
}

#sidebar div.item
{
    /* background-color:blue !important; */
    padding:20px 5px 20px 0px;
    font-family:"Samim" !important;
    font-size:16px;
    color:black;
    border-top:2px solid rgb(247, 247, 247);

    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

#sidebar div.item:hover
{
    padding-right:20px;
    background-color:rgb(214, 214, 214) !important;
}

#sidebar .user.icon
{
    color:rgb(8, 80, 121);
}

#sidebar .paper.icon
{
    color:#0088cc;
}

#sidebar .calendar.icon
{
    /* color:#ee4c7c; */
    color:rgb(238, 12, 57);
}

#sidebar .chart.icon
{
    font-size:18px;
    position:relative;
    bottom:3px;
    left:4px;
    color:#41b3a3;
}


.sidebar_metallogy
{
    position: absolute;
    bottom:10px;
    width:100%;
}

.sidebar_metallogy_logo
{
    margin:0 auto 0 !important;
    width:150px !important;
}

.sidebar_metallogy div
{
    font-size:15px !important;
    text-align:center !important;
    direction:rtl !important;
    margin:0px auto 0 !important;
    font-weight:900;
}

.sidebar_sp1
{
    font-family:"Samim" !important;
}


.ui.vertical.menu.sidebar-menu::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.ui.vertical.menu.sidebar-menu
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ---------Accordion Begins----------- */
.ui.accordion .title:not(.ui)
{
    padding:0px !important;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui)
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.accordion_sub_item.transition.visible:hover
{
    padding-right:45px;
}

#sidebar .title.active div.item
{
    /* background-color:#14b1ff13; */
    /* background-color:gray; */
}

.accordion_sub_item
{
    cursor:pointer;
    display:block;
    font-family:"Samim";
    padding:11px 33px 11px 0px;
    color:rgb(0, 0, 0) !important;
    
    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;

    /* background-color:#14b1ff0a; */
}

.message_number
{
    float:left;
    margin-left:10px;
    padding-top:4px;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

    border:1px solid #fce8e6;
    background-color:#fce8e6;
    color: #d93025;

    width:30px !important;
    height:30px !important;
    border-radius:100%;
    text-align:center !important;
    position:relative;
    bottom:5px;
}




.accordion_sub_item .icon
{
    font-size:15px;
    margin: 0em 0.5em 0em 5px;
}

.accordion_sub_item .inbox.icon
{
    color:#41b3a3;
}

.accordion_sub_item .bell.icon
{
    color:#e8a87c;
}

.accordion_sub_item .pencil.icon
{
    color:#659dbd;
}
/* ---------Accordion Ends----------- */
  
/* ------------------------Side bar Ends ------------- */



/* -------------------Main Content Begins------------------------ */

.main-content
{
    padding-top:90px;
    padding-bottom:50px;
    /* background: linear-gradient(87deg, rgb(45, 206, 137), rgb(45, 206, 204)) !important; */
}

.tool_div
{
    margin:0 auto 0 !important;
    /* background-color:red; */
}

.tool_div_top
{
    direction:rtl !important;
    width:95%;
    max-width:1100px;
    margin:0 auto 0 !important;
    /* background-color:orange !important; */
}

.div_tool_icon
{
    /* background-color:red; */
    float:right;
}

.div_tool_icon_first
{
    /* background-color:gray !important; */
    padding:0px;
    padding-right: 10px;
    margin-bottom:2px;
}

.div_tool_icon_first .icon
{
    font-size:26px;
    margin-top:7px;
    color:rgb(148, 148, 148);
}

.div_tool_icon_second
{
    /* background-color:blue !important; */
    padding:5px 5px 5px 19px;
    font-family:"Samim" !important;
    color:rgb(148, 148, 148);
}

.div_tool_headers
{
    /* background-color:blue; */
    border-right:2px solid rgb(226, 226, 226);
    float:right;
}

.div_tool_headers h2
{
    /* background-color:yellow; */
    color:rgb(12, 8, 233);
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    font-size:16px;
    margin:0px 0px 5px 0px!important;
}

.div_tool_headers h4
{
    /* background-color:green; */
    font-size:13px;
    /* color:rgb(192, 192, 192); */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px !important;
}

.clear_both
{
    clear:both;
}

.tool_div_body
{
    width:95%;
    max-width:1100px;
    /* background-color:red; */
    margin:40px auto 0; 
}

.tool_image_features
{
    /* background-color:red; */
    display:flex;
    flex-wrap:wrap;
    direction:rtl !important;
}

.tool_img
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    /* background-color:orange !important; */


    width:90%;
    max-width:350px !important;
    margin:0 auto 0;
    /* max-width:700px; */
}

.tool_img img
{
    display:block !important;
    margin:0 auto 0 !important;
    width:100% !important;

    
    border-radius:5px;
    padding: 5px;
    /* border-radius:18px; */
    background-color: rgb(218, 218, 218) !important;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

    /* padding: 5px 5px 0px 5px;
    background-color: #e0e1e2 !important;
    border-top-left-radius:8px;
    border-top-right-radius:8px; */
}

#calibration_button
{
    font-family:"Samim" !important;
    background-color: rgb(218, 218, 218) !important;
    display:block !important;
    margin:10px auto 0 !important;
    width:350px !important;
    padding:16px;
    /* border-top-left-radius:0px;
    border-top-right-radius:0px; */
    /* background-color:cadetblue !important; */
}

#calibration_button:hover
{
    background-color: rgb(192, 192, 192) !important;
}

.tool_features
{
    width:calc(100% - 350px);
    padding:7px 20px 7px 20px;
}

.tool_features h3
{
    font-family:"Samim" !important;
    margin-bottom:0px !important;
}

.just_border
{
    height:3px;
    width:100px;
    margin-top:0px !important;
    margin-bottom:5px !important;
    background-color:#ef394e !important;
    border-radius:50px;
    display:inline-block;
}

.each_feature
{
    font-family:"Samim" !important;
    direction:rtl !important;
    padding-right:5px;
    margin-bottom:10px;
    color:rgb(66, 66, 66);
    font-size:0.875rem;
    /* background-color:blue; */
}

.each_feature .icon
{
    position:relative;
    top:2px;
    margin:0px 0px 0px 3px !important;
}

.each_feature .star.icon
{
    position:relative;
    top:-1px;
    color:goldenrod;
}

.feature_name
{
    font-size:0.975rem;
}

.tool_description_payment
{
    direction:rtl !important;
    margin-top:20px;
}

.tool_description, .tool_payment
{
    padding:7px 20px 7px 20px;
    width:100%;
    /* background-color:red; */
}

.tool_payment
{
    margin-top:15px;
}

.tool_description h3, .tool_payment h3
{
    font-family:"Samim" !important;
    margin-bottom:0px !important;
}

.description_text
{
    font-family:"Samim" !important;
    direction:rtl;
    line-height:30px;
    margin:0px !important;
    color:rgb(66, 66, 66);
    text-align:justify;
    padding:0px 10px 0px 10px !important;
    font-size:13px;
    /* background-color:orange; */
}

.display_none
{
    display:none !important;
}

.payment_table
{
    /* background-color:red; */
    width:100%;
}

.payment_row
{
    width:100%;
    /* background-color:orange; */
    display:flex;
    flex-wrap:wrap;
    direction:rtl !important;
    padding:15px 7px 15px 7px !important;
    border-bottom:2px solid rgb(236, 236, 236);
}

.payment_row:last-of-type
{
    border-bottom:0px;
}

.payment_user
{
    color:rgb(10, 55, 68);

    /* text-align:center; */
    font-weight:700;
    width:34%;
    font-family:"Samim" !important;
    direction:rtl !important;
}

.payment_hour_sample, .payment_price
{
    text-align:center;
    width:33%;
    font-family:"Samim" !important;
    direction:rtl !important;
}

.payment_price span
{
    font-weight:700;
    font-size:11px;
}

/* --------------Main Form Begins----------- */
.tool_reservation
{
    padding:7px 20px 7px 20px;
    width:100%;
    margin-top:30px;
    
    direction:rtl !important;
    /* background-color:red; */
}

.tool_reservation h3
{
    font-family:"Samim" !important;
    margin-bottom:0px !important;
}

.reservation_text
{
    font-family:"Samim" !important;
    direction:rtl;
    line-height:30px;
    margin:0px 0px 20px 0px!important;
    color:rgb(66, 66, 66);
    text-align:justify;
    padding:0px 10px 0px 10px !important;
    font-size:15px;
    /* background-color:orange; */
}

.group_inputs
{
    display:flex !important;
    flex-wrap:wrap !important;
    text-align:center;
    direction:rtl;
    font-family:"Samim" !important;
    
    width:100%;
    margin:0 auto 0 !important;
}

.item1
{
    width:270px !important;
    direction:rtl !important;
}

.field label
{
    float:right;
    padding-bottom:4px;
    font-weight:700;
    font-size:15px;
}

.individual_input
{
    width:100%;
    direction:rtl !important;
    text-align:right !important;

    height: 3.4em !important;
    padding: 15px 8px 15px 8px !important;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem !important;
    outline:none;
    font-size:14px;
}

.individual_input:hover
{
    border-color:rgba(34, 36, 38, 0.35);
}

.ui.icon.input.item1 .icon
{
    opacity:1 !important;
    font-size:16px;
}

.item1 .calendar.icon
{
    color:#557a95;
}

input[name="calendar"]
{
    cursor:pointer;
}

.field
{
    margin:0 auto 20px !important;
}

/* --------Drop Down Begins ----- */
.placeholder_text_color
{
    color: rgba(191,191,191,.87) !important;
}

.disabled_label
{
    opacity:0.4 !important;
    font-weight:500 !important;
    color:rgb(134, 134, 134) !important;
}

.disabled_label .icon
{
    color:rgb(134, 134, 134) !important;
}

.field_dropdown
{
    width:270px !important;
    display:block !important;
}

.div_start_time .clock.icon
{
    color:rgb(3, 146, 3);
}

.div_end_time .clock.icon
{
    color:#f71e38;
}

.item_drop_down .dropdown.icon
{
    display:none;
}

.item_drop_down, div.item
{
    direction:rtl !important;
    text-align:right !important;
}

.item_drop_down
{
    font-family:"Samim";
    display:block !important;
    outline:none;
    
    height: 3.4em !important;
    padding: 15px 8px 15px 8px !important;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem !important;
    outline:none;
    font-size:14px;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.font_light
{
    font-weight:500 !important;
}

.font_bold
{
    font-weight:700 !important;
}

.item_drop_down .icon
{
    /* color:rgb(134, 134, 134) !important; */
    opacity:1 !important;
    font-size:16px;
}

.item_drop_down .icon
{
    position: relative;
    left:8px;
}
/* --------Drop Down Ends ----- */


.submit_btn
{
    font-family:"Samim" !important;
    width:270px;
    display:block !important;

    position:relative;
    top:24px;


    border:none;
    outline:none;
    border-radius:5px;
    height: 3.4em !important;
    padding: 15px 8px 18px 8px !important;

    cursor:pointer;
    color:#ffffff !important;
    font-weight:500 !important;
    font-size:16px;
    background-color:#52a7cc !important;
    text-align:center !important;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.submit_btn:hover
{
    background-color:#2d81a5 !important;
}

/* --------------Main Form Ends----------- */


.div_bubbles
{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    /* row-gap: 0px; */
    direction:rtl;
}

/* Each Bubble Begins */
.each_bubble
{
    width:121px;
    height:100.98px;
    /* background-color:red; */
    margin-top:20px;
}

.right_line, .left_line, .center_line
{
    float:right;
    /* background-color:red; */
    margin:0px;
}

.right_line, .left_line
{
    width:24px;
    height:92.98px;
    padding-top:33px;
    /* background-color:orange; */
}

.right_line span, .left_line span
{
    display:block;
    height:9px;
}

.reserved_color
{
    background-color: rgb(219, 219, 219);
}

.right_line span
{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.right_line span.connected
{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.left_line span
{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.left_line span.connected
{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.reserved_circle, .free_circle
{
    display:block;
    border-radius:50%;
    color:#fff;
    background-color: rgb(219, 219, 219);
    font-family:"Samim";
    text-align:center;
    padding-top:25px;
    width:73px;
    height:73px;
    margin:0 auto 0;
}

.free_circle
{
    padding-top:29px;
    padding-right:3px;
    /* background-color: #2C3E50;
    color:white; */
    background-color: rgb(255, 204, 0);
    color:black;
    font-weight:700;

    transition-duration: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.reserved_hour, .free_hour
{
    display:block;
    margin:0 auto 0;
    width:73px;
    text-align:center;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    color:rgb(194, 194, 194);
}

.free_hour
{
    font-weight:700;
    color:rgb(87, 87, 87);
}



/* --------------- Modal Begins --------------------- */
.modal_header .ui.image
{
    display:block;
    width:180px;
    margin:0 auto 10px;
}

#calibration_modal
{
    max-width:calc(270px + 270px + 160px);
}

#calibration_modal .modal_header
{
    font-family:"Samim" !important;
    text-align:center;
    padding:15px 20px 20px 20px!important;
    background-color:rgb(247, 247, 247);
    border-bottom:1px solid rgb(224, 224, 224);
}

#calibration_modal .modal_body
{
    padding:15px;
}

#calibration_modal .button
{
    font-family:"Samim" !important;
}



/* --------------Modal Form Begins----------- */
.mg_bottom
{
    margin-bottom:12px !important;
}

.item1_modal
{
    /* width:270px !important; */
    width:50% !important;
    padding:0px 5px 0px 5px;
    direction:rtl !important;
}

.item2_modal
{
    width:100% !important;
    padding:0px 5px 0px 5px;
    direction:rtl !important;
}

.field_modal label
{
    float:right;
    padding-bottom:7px;
    font-weight:700;
    font-size:15px;
}

.individual_input_modal
{
    width:100%;
    direction:rtl !important;
    text-align:right !important;

    height: 45px;
    padding: 15px 8px 15px 8px !important;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem !important;
    outline:none;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.textarea_modal
{
    font-family:"Samim" !important;
    width:100%;
    direction:rtl !important;
    text-align:right !important;
    font-size:13px !important;
    line-height:20px;

    padding: 8px !important;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem !important;
    outline:none;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.individual_input_modal:hover, .textarea_modal:hover
{
    border-color:rgba(34, 36, 38, 0.35);
}

input[name="calendar_modal"]
{
    cursor:pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
    font-size:15px !important;
}

/* -------- Modal Drop Down Begins ----- */

.placeholder_text_color2
{
    color: rgba(0,0,0,.87) !important;
}

.field_dropdown_modal
{
    /* background-color:red; */
    display:block !important;

    /* width:270px !important; */
    width:50% !important;
    padding:0px 5px 0px 5px !important;
    direction:rtl !important;
}

.item_drop_down_modal .dropdown.icon
{
    display:none;
}

.item_drop_down_modal, div.item
{
    direction:rtl !important;
    text-align:right !important;
}

.item_drop_down_modal
{
    font-family:"Samim";
    display:block !important;
    outline:none;
    
    height: 45px !important;
    padding: 15px 8px 15px 8px !important;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem !important;
    outline:none;
    font-size: 14px !important;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.item_multiple
{
    padding: 7px 8px 8px 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.status_dp
{
    direction:rtl !important;
    text-align:right !important;
}

.status_dp .item
{
    background-color:white !important;
}

.status_dp .item:hover
{
    background-color:rgb(236, 236, 236) !important;
}

.item_drop_down_modal .icon
{
    /* color:rgb(134, 134, 134) !important; */
    opacity:1 !important;
    font-size:16px;
}

.item_drop_down_modal .icon
{
    position: relative;
    left:8px;
}
/* -- Modal Drop Down Ends -- */

/* ---------Modal Form Ends------- */

/* --------------Modal Ends----------- */




/* -------------------Main Content Ends------------------------ */



@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .main-content {
    /* margin-left: 15rem; */
    margin-right:250px;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */