
@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}

body {
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}


/* -----------Jalali Date Begins------------ */
.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month 

input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "calendar"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}
/* -----------Jalali Date Ends------------ */

/* --------------Responsive Sidabar Begins */
.sidebar_bottom
{
    position: absolute;
    bottom:10px;
    width:100%;
}

.sidebar_bottom img
{
    margin:0 auto 0 !important;
    width:87px !important;
}

.sidebar_bottom h4
{
    font-size:12px !important;
    text-align:center !important;
    direction:rtl !important;
    margin:0px auto 0 !important;
    font-family:"Samim" !important;
}
/* --------------Responsive Sidabar Ends */



/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    display:block !important;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:80px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.image_fixed
{
    margin-right:30px;
    float:left !important;
    /* width:210px !important; */
    margin-top:3px;
    width:192px !important;
}

.bars_fixed
{
    display:none !important;
    cursor:pointer;
    width:90px;
    padding-top:10px !important;
    line-height:30px;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:95px;
    padding-bottom:10px !important;
}

.login_fixed
{
    width:90px;
    padding-top:9px !important;
    line-height:28px;
}

.sign_up_fixed
{
    width:100px;
    padding-top:9px !important;
    line-height:35px;
}

.dashboard_fixed
{
    width:110px;
    padding-top:9px !important;
    line-height:30px;
}

.selected_fixed
{
    width:140px !important;
    font-weight:600 !important;
    color:black;
    background-color:rgb(235, 235, 235);
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.bars_fixed .bars.icon
{
    font-size:20px;
    position:relative;
    top:4px;
}

.login_fixed .sign-in.icon
{
    color:#52a7cc;
    font-size:23px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus.icon
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

/* ------------------------------------------------------------------------------- fixed menu ends */




/* ------------------------ Side bar Begins ------------- */

/* ----- Side bar user Begins ----- */

.sidebar_user_image
{
    /* background-color:red; */
    margin-top:10px;
    text-align:center;
}

.sidebar_user_image img
{
    width:150px !important;
    height:150px !important;
    object-fit: scale-down;
    padding:1px;
    border:3px solid rgb(230, 230, 230);
    background-color:rgb(255, 255, 255) !important;
}

.sidebar_user_image h4
{
    font-family:"Samim" !important;
    border-radius:4px;
    position:relative;
    bottom:25px;
    background-color: #fc0;
    padding:5px 15px 5px 15px;
    font-size:13px;
    display:inline-block;
    text-align:center;
    margin:0 auto 0 !important;
}

.sidebar_user_image h3
{
    font-family:"Samim" !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:15px;
    position:relative;
    bottom:13px;
}

/* ----- Side bar user Ends ----- */

#sidebar
{
  margin-top: 60px !important;
  max-height: calc(100% - 60px) !important;
  height: calc(100% - 60px) !important;

  direction:rtl !important;
  width:250px;
  box-shadow: 0px 0px 10px 3px #ececec;
  background-color:#fff;
}

#sidebar2
{
  height:100% !important;

  direction:rtl !important;
  max-width:270px;
  min-width:240px;
  width:80%;
  background-color:#fff;
}

#sidebar .item i.icon, #sidebar2 .item i.icon
{
  float: right;
  margin: 0em 0.5em 0em 10px;
}

#sidebar div.item, #sidebar2 div.item
{
    /* background-color:blue !important; */
    padding:20px 5px 20px 0px;
    font-family:"Samim" !important;
    font-size:16px;
    color:black;
    border-top:2px solid rgb(247, 247, 247);

    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

#sidebar div.item:hover, #sidebar2 div.item:hover
{
    padding-right:20px;
    background-color:rgb(214, 214, 214) !important;
}

#sidebar .user.icon
{
    color:rgb(8, 80, 121);
}

#sidebar2 .user.icon
{
    color:rgb(85, 85, 85);
}

#sidebar .paper.icon, #sidebar2 .paper.icon
{
    color:#0088cc;
}

#sidebar .calendar.icon, #sidebar2 .calendar.icon
{
    color:rgb(238, 12, 57);
}

#sidebar .chart.icon, #sidebar2 .chart.icon
{
    font-size:18px;
    position:relative;
    bottom:3px;
    left:4px;
    color:#41b3a3;
}

#sidebar2 .flask.icon
{
    color:goldenrod !important;
    position:relative;
    bottom:3px;
    font-size:17px;
}

#sidebar2 .home.icon
{
    color:rgb(13, 121, 54) !important;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar2 .map.signs.icon
{
    color:#425c81;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar::-webkit-scrollbar, #sidebar2::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#sidebar, #sidebar2
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ---------Accordion Begins----------- */
.ui.accordion .title:not(.ui)
{
    padding:0px !important;
}

#sidebar2 .ui.accordion, #sidebar2 .ui.accordion .title,
#sidebar2 .ui.accordion .title .item,
#sidebar2 .ui.accordion .content
{
    text-align:right !important;
    direction:rtl !important;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui)
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.accordion_sub_item.transition.visible:hover
{
    padding-right:45px;
}

.accordion_sub_item
{
    cursor:pointer;
    display:block;
    font-family:"Samim";
    padding:11px 33px 11px 0px;
    color:rgb(0, 0, 0) !important;
    
    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

.message_number
{
    float:left;
    margin-left:10px;
    padding-top:4px;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

    border:1px solid #fce8e6;
    background-color:#fce8e6;
    color: #d93025;

    width:30px !important;
    height:30px !important;
    border-radius:100%;
    text-align:center !important;
    position:relative;
    bottom:5px;
}

.accordion_sub_item .icon
{
    font-size:15px;
    margin: 0em 0.5em 0em 5px;
}

.accordion_sub_item .inbox.icon
{
    color:#41b3a3;
}

.accordion_sub_item .bell.icon
{
    color:#e8a87c;
}

.accordion_sub_item .pencil.icon
{
    color:#659dbd;
}
/* ---------Accordion Ends----------- */
  
/* ------------------------Side bar Ends ------------- */

@media (min-width: 770px) {
    #sidebar {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    .main-content {
      margin-right:250px;
    }

    .sidebar-menu-toggler {
      display: none !important;
    }
}

@media screen and (max-width:1000px)
{
    .fixed_menu
    {
        padding-right:20px !important;
        padding-left:20px !important;
    }

}

@media screen and (max-width:835px)
{
    .fixed_menu
    {
        padding-right:10px !important;
        padding-left:10px !important;
    }

    .image_fixed
    {
        margin-top:6px;
        width:170px !important;
    }
}

@media screen and (max-width:770px)
{
    .fixed_menu_item
    {
        display:none !important;
    }

    .image_fixed, .bars_fixed
    {
        display:block !important;
    }
}

@media screen and (max-width:450px)
{
    .image_fixed
    {
        margin-top:8px;
        margin-right:15px;
        width:150px !important;
    }
}
/* Dashboard Ends */



/* -------------------Main Content Begins------------------------ */
.display_none
{
    display:none;
}

.main-content
{
    padding-top:90px;
    padding-bottom:50px;
    /* background: linear-gradient(87deg, rgb(45, 206, 137), rgb(45, 206, 204)) !important; */
}

.laboratory_div
{
    width:95%;
    max-width:1100px;
    margin:0 auto 0 !important;
    /* background-color:red; */
}

.laboratory_div_top
{
    direction:rtl !important;
    /* background-color:orange; */
}

.div_laboratory_icon
{
    /* background-color:red; */
    float:right;
}

.div_laboratory_icon_first
{
    /* background-color:gray !important; */
    padding:5px 21px 5px 5px;
    margin-bottom:2px;
}

.div_laboratory_icon_first .icon
{
    font-size:26px;
    margin-top:7px;
    color:rgb(148, 148, 148);
}

.div_laboratory_icon_second
{
    /* background-color:blue !important; */
    padding:5px 15px 5px 19px;
    font-family:"Samim" !important;
    color:rgb(148, 148, 148);
}

.div_laboratory_headers
{
    /* background-color:blue; */
    border-right:2px solid rgb(226, 226, 226);
    float:right;
}

.div_laboratory_headers h2
{
    /* background-color:yellow; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px 0px 5px 0px!important;
}

.div_laboratory_headers h4
{
    /* background-color:green; */
    padding:5px 20px 5px 5px !important;
    font-family:"Samim" !important;
    margin:0px !important;
}

.small_h4
{
    font-family:"Samim" !important;
    display:none;
    line-height:27px;
    padding:0px 5px 0px 5px;
}

.clear_both
{
    clear:both;
}

.laboratory_div_body
{
    width:100%;
    max-width:1100px;
    /* background-color:red; */
    margin:40px auto 0 !important; 
}


/* --- Each Lab Begins --- */
.each_lab
{
    direction:rtl !important;
    width:100%;
    /* background-color:orange; */
    padding-bottom:15px;
    margin-bottom:30px;
    border-bottom:2px dotted rgb(212, 212, 212);
    display:flex;
    flex-wrap:wrap;
}

/* .each_lab:last-of-type
{
    border-bottom:none;
} */

.lab_img
{
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color:orange !important; */


    width:100% !important;
    margin:0 auto 0;
    /* max-width:700px; */
}

.lab_img img
{
    display:block !important;
    margin:0 auto 0 !important;
    border-radius:18px;
    /* width:250px !important; */

    padding: 5px;
    background-color: rgb(218, 218, 218) !important;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.lab_description
{
    width:100%;
    /* background-color:blue !important; */
    padding:10px;

    margin:0 auto 0;
}

h3.lab_name
{
    font-family:"Samim" !important;
    font-size:20px;
    /* background-color:green; */
    margin-top:5px !important;
    margin-bottom:10px !important;
    direction:rtl !important;
}

.lab_infos
{
    /* background-color:yellow; */
    margin-bottom:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: right;
}

.lab_infos span
{
    margin-left:15px;
    font-family:"Samim";
    font-size:0.775rem;
    color:rgb(172, 172, 172);
    padding-top:2px;
}

.lab_infos span .icon
{
    font-size:17px;
    margin-left:0px !important;
    color:rgb(124, 124, 124);
}

.lab_infos span .user.circle.icon
{
    font-size:18px !important;
}

.lab_infos span:nth-of-type(2)
{
    padding-top:3px;
    padding-right:2px;
}

.lab_infos span .user.icon
{
    font-size:15px;
    margin-left:2px;
}

.lab_text
{
    /* background-color:yellow; */
    font-family:"Samim";
    line-height:25px;
    color:rgb(110, 110, 110);
    /* margin-bottom:25px; */
    direction:rtl !important;
    text-align:justify;
    margin-bottom:12px;
}


.each_feature
{
    font-family:"Samim" !important;
    direction:rtl !important;
    padding-right:5px;
    margin-bottom:10px;
    color:rgb(161, 161, 161);
    font-size:0.875rem;
    /* background-color:blue; */
}

.each_feature .icon
{
    position:relative;
    top:2px;
    margin:0px !important;
}

.feature_name
{
    font-size:0.975rem;
    font-weight:900;
}

.lab_bottom
{
    width:100%;
    /* background-color:yellow; */
    margin:15px auto 0;
    direction:ltr !important;
    text-align:center;
}

.lab_bottom .ui.button
{
    font-family:"Samim" !important;
    padding-top:15px !important;
    padding-bottom:15px !important;
    width:180px;
    margin-top:10px;
}

.lab_bottom .ui.labeled.icon.button:nth-of-type(1)
{
    background-color:#fc0;
}

/* .lab_bottom .ui.button:nth-of-type(2)
{
    font-weight:500;
} */

.lab_bottom .ui.labeled.icon.button:nth-of-type(2)
{
    background-color:rgb(142, 255, 37);
}
/* --- Each Lab Ends --- */



/* --- Laboratory Tools Begin --- */
.laboratory_div_tools
{
    width:100%;
    max-width:1100px;
    /* background-color:red !important;    */
    text-align:center;
    margin:0 auto 20px !important;
}

.laboratory_tools_header, .laboratory_tools_header2
{
    font-family:"Samim" !important;
}

.laboratory_tools_header2
{
    direction:rtl !important;
    font-size:12px;
    margin:0px !important;
    display:none;
}

.laboratory_tools_header2 .icon
{
    font-size:15px !important;
}

.just_border
{
    height:2px;
    width:100px;
    margin-top:0px !important;
    margin-bottom:5px !important;
    background-color:#ef394e !important;
    border-radius:50px;
    display:none;
}

.laboratory_tools_header img
{
    display:inline-block !important;
    /* width:50px; */
    width:65px;
}

.laboratory_tools_header div
{
    direction:rtl !important;
    display:inline-block;
}

.laboratory_tools_header img:nth-of-type(1)
{
    margin-right:20px;
    /* transform:rotate(-14deg); */
}

.laboratory_tools_header img:nth-of-type(2)
{
    margin-left:20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}




.items_container
{
    width:100%;
    direction:rtl !important;
    margin-top:20px !important;
    display:none;
}
/* Each Item Begins */
.each_item
{
    /* background-color:red; */
    direction:rtl !important;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    position:relative;
}

.each_item .image
{
    width:120px !important;
}

.each_item .image img
{
    border-radius:4px;
    display:inline-block;
    width:100% !important;
}

.each_item .item_content
{
    width:calc(100% - 120px);
    /* background-color:gray; */
    padding-right:5px;
    padding-left:5px;
}

.each_item .item_content .item_name, .each_item .item_content .item_faculty
{
    font-family:"Samim" !important;
    text-align:right !important;
    direction:rtl !important; 
}

.each_item .item_content .item_name
{
    font-weight:700;
    height:40px !important;
    line-height:22px;
    font-size:13px;
}

.each_item .item_content .item_faculty
{
    font-size:11px;
    color:rgb(161, 161, 161);
}

.each_item .item_content .item_faculty .icon
{
    font-weight:100 !important;
}

.item_extra
{
    display:flex;
    flex-wrap:wrap;
    text-align:right;
    direction:rtl !important;

    height:20px;
    position:absolute;
    bottom:9px;
}

.item_see
{
    direction:rtl !important;
    text-align:right;
    font-family: "Samim" !important;
    margin-left:10px;
    font-weight:700;
    font-size:13px;
    color:#ef394e !important;
    margin-top:2px;
}

.item_see .angle.left.icon
{
    position:relative;
    top:2px;
    left:6px;
}

.item_rate
{
    direction:ltr !important;
    text-align:right;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size:14px;
    font-weight:500;
    position:relative;
    top:2px;
}

.item_rate .star.icon
{
    color:rgb(238, 166, 10);
    font-size:13px;
    margin-right:0px;
    position:relative;
    bottom:2px;
}

.item_rate span:nth-of-type(1)
{
    color:rgb(56, 56, 56);
}

.item_rate span:nth-of-type(2)
{
    color:rgb(134, 134, 134);
}
/* Each Item Ends */
.dotted_divider
{
    width:100%;
    height:1px;
    margin-top:10px;
    margin-bottom:17px;
    border-bottom:1px dotted rgb(212, 212, 212);
}


/* ------------------------------------- */

.tools_container
{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center !important;
    margin:0 auto 60px;
    /* background-color:red; */
}
/* Each Tool Begins */
.each_tool_container
{
    width:250px;
    margin-top:10px;
}

.each_tool
{
    width:240px !important;
    margin:0 auto 0 !important;
}

.each_tool_image
{
    border-bottom:1px solid rgb(240, 240, 240);
    height:200px !important;
    display:flex;
    justify-content:center;
    align-items:center;
}

.each_tool_image img
{
    width:200px !important;
    border-radius:8px;
}

.each_tool_content
{
    padding:10px 15px 10px 15px;
}

.each_tool_header, .each_tool_faculty, .each_tool_rate
{
    font-family:"Samim" !important;
    text-align:right;
    direction:rtl !important;
}

.each_tool_header
{
    margin-bottom:8px;
    font-size:14px;
    height:45px !important;
    line-height:22px;
    /* background-color:red; */
}

.each_tool_faculty
{
    margin-bottom:8px;
    font-size:11px;
    color:rgb(161, 161, 161);
    height:38px !important;
}

.each_tool_rate
{
    direction:ltr !important;
    text-align:left;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:500;
}

.each_tool_rate .star.icon
{
    color:rgb(238, 166, 10);
    font-size:18px;
    margin-right:0px;
    position:relative;
    top:1px;
}

.each_tool_rate span:nth-of-type(1)
{
    color:rgb(56, 56, 56);
}

.each_tool_rate span:nth-of-type(2)
{
    color:rgb(134, 134, 134);
}

.each_tool_bottom .button
{
    width:100%;
    border-radius:0px !important;
    font-family:"Samim" !important;
    background-color:rgb(221, 221, 221);
    background-color:rgb(255, 204, 0);
    padding:15px 12px 15px 12px !important;
    cursor:pointer;
}
/* Each Tool Ends */

/* --- Laboratory Tools End --- */



.laboratory_div_bottom
{
    width:95%;
    max-width:1100px;
    /* background-color:red !important;    */
    margin:40px auto 20px !important;
    text-align:center;
}

.laboratory_div_bottom .ui.pagination.menu .item:before
{
    background: rgb(224, 224, 224);
    width: 1px;
}

.laboratory_div_bottom .ui.pagination.menu
{
    border:1px solid rgb(228, 227, 227)!important;
    margin-bottom:15px;
}

.laboratory_div_bottom span
{
    font-family:"Samim";
    color:rgb(177, 177, 177);
    font-size:15px;
    /* font-weight:700; */
}


/* -------------------Main Content Begins------------------------ */



@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .main-content {
    /* margin-left: 15rem; */
    margin-right:250px;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}

@media screen and (max-width:870px)
{
    .laboratory_tools_header div
    {
        font-size:15px;
    }

    .laboratory_tools_header img
    {
        width:40px;
    }
}

@media screen and (max-width:550px)
{
    .laboratory_div
    {
        width:100%;
    }

    .laboratory_div_body
    {
        width:100%;
    } 

    .lab_img img
    {
        border-radius:0px;
    }

    .each_lab h3.lab_name
    {
        font-size:14px;
    }

    .each_lab .lab_infos span
    {
        font-size:0.675rem;
    }

    .each_lab .lab_infos span .icon
    {
        font-size:14px;
    }

    .each_lab .lab_infos span .user.circle.icon
    {
        font-size:15px !important;
    }

    .each_lab .lab_infos span:nth-of-type(2)
    {
        padding-top:3px;
        padding-right:2px;
    }

    .each_lab .lab_infos span .user.icon
    {
        font-size:12px;
        margin-left:2px;
    }

    .each_lab .lab_text
    {
        font-size:12px;
    }

    .lab_bottom .ui.button
    {
        font-size:12px;
        padding-top:12px !important;
        padding-bottom:12px !important;
        width:150px;
    }

    .each_lab
    {
        border-bottom:1px dotted rgb(231, 231, 231);
    }

    .laboratory_div_tools
    {
        text-align:right;
    }

    .laboratory_tools_header
    {
        display:none;
        
    }

    .laboratory_tools_header2
    {
        margin:0px 7px 0px 0px !important;
        padding:0px !important;
        display:block;
    }

    .just_border
    {
        margin-right:7px !important;
        display:inline-block;
    }
}

@media screen and (max-width:510px)
{
    .tools_container
    {
        display:none;
    }

    .items_container
    {
        width:97%;
        margin:0 auto 0;
        display:block;
    }

    .each_lab
    {
        padding-bottom:15px;
        margin-bottom:15px;
    }
}

@media screen and (max-width:470px)
{
    .div_laboratory_headers h2
    {
        padding:8px 20px 7px 5px !important;
    }

    .div_laboratory_headers h4
    {
        display:none;
    }

    .div_laboratory_icon_first
    {
        padding:5px 21px 0px 5px;
        margin-bottom:0px;
    }

    .div_laboratory_icon_first .icon
    {
        margin-top:1px;
        font-size:22px;
    }

    .div_laboratory_icon_second
    {
        padding:0px 15px 5px 19px;
    }

    .small_h4
    {
        display:block;
    }
}
