
@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}


body {
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}


/* -----------Jalali Date Begins------------ */
.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "calendar"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}
/* -----------Jalali Date Ends------------ */



.ui[class*="middle aligned"].grid > .column:not(.row), .ui[class*="middle aligned"].grid > .row > .column, .ui.grid > [class*="middle aligned"].row > .column, .ui.grid > [class*="middle aligned"].column:not(.row), .ui.grid > .row > [class*="middle aligned"].column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.ui[class*="center aligned"].grid > .column, .ui[class*="center aligned"].grid > .row > .column, .ui.grid > [class*="center aligned"].row > .column, .ui.grid > [class*="center aligned"].column.column, .ui.grid > .row > [class*="center aligned"].column.column {
    text-align: center;
    -ms-flex-item-align: inherit;
    align-self: inherit;
}
.ui.grid > .column:only-child, .ui.grid > .row > .column:only-child {
    width: 100%;
}
.ui.grid > .column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}
.ui.grid > * {
    padding-left: 1rem;
    padding-right: 1rem;
}
.column {
    max-width: 450px;
}

.ui[class*="center aligned"].grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ui.grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.ui.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0em;
}
body > .grid {
    height: 100%;
    /* height:125%; */
}



/* --------------Responsive Sidabar Begins */
.sidebar_bottom
{
    position: absolute;
    bottom:10px;
    width:100%;
}

.sidebar_bottom img
{
    margin:0 auto 0 !important;
    width:87px !important;
}

.sidebar_bottom h4
{
    font-size:12px !important;
    text-align:center !important;
    direction:rtl !important;
    margin:0px auto 0 !important;
    font-family:"Samim" !important;
}
/* --------------Responsive Sidabar Ends */



/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    display:block !important;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:80px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.image_fixed
{
    margin-right:30px;
    float:left !important;
    /* width:210px !important; */
    margin-top:3px;
    width:192px !important;
}

.bars_fixed
{
    display:none !important;
    cursor:pointer;
    width:90px;
    padding-top:10px !important;
    line-height:30px;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:95px;
    padding-bottom:10px !important;
}

.login_fixed
{
    width:90px;
    padding-top:9px !important;
    line-height:28px;
}

.sign_up_fixed
{
    width:100px;
    padding-top:9px !important;
    line-height:35px;
}

.dashboard_fixed
{
    width:110px;
    padding-top:9px !important;
    line-height:30px;
}

.selected_fixed
{
    width:140px !important;
    font-weight:600 !important;
    color:black;
    background-color:rgb(235, 235, 235);
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.bars_fixed .bars.icon
{
    font-size:20px;
    position:relative;
    top:4px;
}

.login_fixed .sign-in.icon
{
    color:#52a7cc;
    font-size:23px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus.icon
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

/* ------------------------------------------------------------------------------- fixed menu ends */




/* ------------------------ Side bar Begins ------------- */

/* ----- Side bar user Begins ----- */

.sidebar_user_image
{
    /* background-color:red; */
    margin-top:10px;
    text-align:center;
}

.sidebar_user_image img
{
    width:150px !important;
    height:150px !important;
    object-fit: scale-down;
    padding:1px;
    border:3px solid rgb(230, 230, 230);
    background-color:rgb(255, 255, 255) !important;
}

.sidebar_user_image h4
{
    font-family:"Samim" !important;
    border-radius:4px;
    position:relative;
    bottom:25px;
    background-color: #fc0;
    padding:5px 15px 5px 15px;
    font-size:13px;
    display:inline-block;
    text-align:center;
    margin:0 auto 0 !important;
}

.sidebar_user_image h3
{
    font-family:"Samim" !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:15px;
    position:relative;
    bottom:13px;
}

/* ----- Side bar user Ends ----- */

#sidebar
{
  margin-top: 60px !important;
  max-height: calc(100% - 60px) !important;
  height: calc(100% - 60px) !important;

  direction:rtl !important;
  width:250px;
  box-shadow: 0px 0px 10px 3px #ececec;
  background-color:#fff;
}

#sidebar2
{
  height:100% !important;

  direction:rtl !important;
  max-width:270px;
  min-width:240px;
  width:80%;
  background-color:#fff;
}

#sidebar .item i.icon, #sidebar2 .item i.icon
{
  float: right;
  margin: 0em 0.5em 0em 10px;
}

#sidebar div.item, #sidebar2 div.item
{
    /* background-color:blue !important; */
    padding:20px 5px 20px 0px;
    font-family:"Samim" !important;
    font-size:16px;
    color:black;
    border-top:2px solid rgb(247, 247, 247);

    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

#sidebar div.item:hover, #sidebar2 div.item:hover
{
    padding-right:20px;
    background-color:rgb(214, 214, 214) !important;
}

#sidebar .user.icon
{
    color:rgb(8, 80, 121);
}

#sidebar2 .user.icon
{
    color:rgb(85, 85, 85);
}

#sidebar .paper.icon, #sidebar2 .paper.icon
{
    color:#0088cc;
}

#sidebar .calendar.icon, #sidebar2 .calendar.icon
{
    color:rgb(238, 12, 57);
}

#sidebar .chart.icon, #sidebar2 .chart.icon
{
    font-size:18px;
    position:relative;
    bottom:3px;
    left:4px;
    color:#41b3a3;
}

#sidebar2 .flask.icon
{
    color:goldenrod !important;
    position:relative;
    bottom:3px;
    font-size:17px;
}

#sidebar2 .home.icon
{
    color:rgb(13, 121, 54) !important;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar2 .map.signs.icon
{
    color:#425c81;
    position:relative;
    bottom:3px;
    font-size:19px;
}

#sidebar::-webkit-scrollbar, #sidebar2::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#sidebar, #sidebar2
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ---------Accordion Begins----------- */
.ui.accordion .title:not(.ui)
{
    padding:0px !important;
}

#sidebar2 .ui.accordion, #sidebar2 .ui.accordion .title,
#sidebar2 .ui.accordion .title .item,
#sidebar2 .ui.accordion .content
{
    text-align:right !important;
    direction:rtl !important;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui)
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.accordion_sub_item.transition.visible:hover
{
    padding-right:45px;
}

.accordion_sub_item
{
    cursor:pointer;
    display:block;
    font-family:"Samim";
    padding:11px 33px 11px 0px;
    color:rgb(0, 0, 0) !important;
    
    transition:0.4s !important;
    -moz-transition:0.4s !important;
    -o-transition:0.4s !important;
    -webkit-transition: 0.4s !important;
}

.message_number
{
    float:left;
    margin-left:10px;
    padding-top:4px;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

    border:1px solid #fce8e6;
    background-color:#fce8e6;
    color: #d93025;

    width:30px !important;
    height:30px !important;
    border-radius:100%;
    text-align:center !important;
    position:relative;
    bottom:5px;
}

.accordion_sub_item .icon
{
    font-size:15px;
    margin: 0em 0.5em 0em 5px;
}

.accordion_sub_item .inbox.icon
{
    color:#41b3a3;
}

.accordion_sub_item .bell.icon
{
    color:#e8a87c;
}

.accordion_sub_item .pencil.icon
{
    color:#659dbd;
}
/* ---------Accordion Ends----------- */
  
/* ------------------------Side bar Ends ------------- */

@media (min-width: 770px) {
    #sidebar {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    .main-content {
      margin-right:250px;
    }

    .sidebar-menu-toggler {
      display: none !important;
    }
}

@media screen and (max-width:1000px)
{
    .fixed_menu
    {
        padding-right:20px !important;
        padding-left:20px !important;
    }

}

@media screen and (max-width:835px)
{
    .fixed_menu
    {
        padding-right:10px !important;
        padding-left:10px !important;
    }

    .image_fixed
    {
        margin-top:6px;
        width:170px !important;
    }
}

@media screen and (max-width:770px)
{
    .fixed_menu_item
    {
        display:none !important;
    }

    .image_fixed, .bars_fixed
    {
        display:block !important;
    }
}

@media screen and (max-width:450px)
{
    .image_fixed
    {
        margin-top:8px;
        margin-right:15px;
        width:150px !important;
    }
}






.main_div
{
    /* background-color:cadetblue !important; */
    width:90%;
    margin:0 auto 0 !important;
    display:flex;
    flex-wrap:wrap;
}

.form_container, .form_picture
{
    /* background-color:red; */
    padding:0px !important;
    margin:0 auto 0;
}

.form_picture_container img
{
    display:block !important;
    margin:0 auto 0 !important;
    width:300px !important;
}

.form_picture
{
    padding-top:calc(12%) !important;
    /* background-color:red; */
}

.form_container
{
    padding-top:100px !important;
    /* background-color:red; */
}

.form_picture_text
{
    padding-top:20px;
    text-align:center;
}

.form_picture_container .ui.header, .form_text
{
    font-family:'Samim' !important;
    direction:rtl !important;
    text-align:right;
}


.master_or_student
{
    margin-top:20px;
}


.master_or_student .ui.header
{
    font-family:"Samim" !important;
    text-align:center;
}


/* Student Free Begins */
.student_free_menu
{
    position:relative;
    left:29px;
    width:495px !important;
    margin:0 auto 0 !important;
}

.student_free_menu .item
{
    font-family:"Samim" !important;
    /* width:300px !important; */
}

.student_free_menu .active
{
    font-family:"Samim" !important;
    font-weight:900 !important;
}

.ui.menu>.item:first-child {
    border-radius: 0px !important;
}

/* -------------------Main Form Begins---------------- */
.main_form
{
    width:100%;
    margin:20px auto 0;
}

.group_inputs
{
    display:flex;
    flex-wrap:wrap;
    text-align:center !important;
    direction:rtl !important;
    font-family:"Samim" !important;
    
    width:550px !important;
    margin:20px auto 0 !important;
}

.item1, .item2, .item3, .item4
{
    width:220px !important;
    margin:0 auto 0 !important;
    direction:rtl !important;
}

.item2
{
    width:495px !important;
}

.individual_input
{
    font-family:"Samim" !important;
    width:100%;
    padding:15px !important;
    direction:rtl !important;
    text-align:right !important;
    border:none;
    /* border-bottom:2px solid rgb(21, 180, 185); */
    outline:none;
    font-size:15px;
    font-weight:700;
}

.ui.icon.input.item1 .icon, .ui.icon.input.item2 .icon
{
    color:rgb(134, 134, 134) !important;
    opacity:1 !important;
}

.ui.icon.input.item1 .id.card.icon
{
    font-size:18px;
    position: relative;
    right:10px;
}

.ui.icon.input.item1 .graduation.cap.icon, .ui.icon.input.item2 .envelope.icon,
.ui.icon.input.item1 .calendar.icon, .ui.icon.input.item1 .users.icon,
.ui.icon.input.item1 .phone.icon,
.ui.icon.input.item2 .pencil.alternate.icon, .ui.icon.input.item2 .university.icon
{
    font-size:17px;
    position: relative;
    right:10px;
}

.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "proposal_date"], input[name = "student_number"], input[name = "national_id"],
input[name = "email"], input[name = "phone"],
input[name = "free_national_id"], input[name = "free_email"], input[name = "free_phone"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}




/* --------Email logo Begins ----- */
.email_lbl
{
    border-radius:0px !important;
    padding:0px !important;
    padding-top:10px !important;

    background-color:white !important;
    direction:rtl !important;
    border-radius:0px !important;  
}

.email_image
{
    position:relative;
    left:40px;
}

.email_align
{
    text-align : right !important;
}

.email_align2
{
    text-align : center !important;
}
/* --------Email logo Ends ----- */






.btn1
{
    font-family:"Samim" !important;
    width:495px !important;
    display:block !important;
    margin:20px auto 25px !important;
    border:none;
    outline:none;
    border-radius:5px;
    padding-top:10px !important;
    padding-bottom:12px !important;
    cursor:pointer;
    color:#425c81 !important;
    color:#ffffff !important;
    font-weight:500 !important;
    background-color:#a5d4de !important;
    background-color:#52a7cc !important;
    text-align:center !important;
}

.btn1 h4
{
    font-family:"Samim" !important;
    
    color:#425c81 !important;
    color:#ffffff !important;
    font-size:16px;
    text-align:center !important;
}

.visible.content
{
    color:#425c81 !important;
    color:#ffffff !important;
    font-size:15px;
    text-align:center !important;
}

.btn1 .icon
{
    font-size:16px !important;
}

.display_none
{
    display:none !important;
}



/* --------Drop Down Begins ----- */
.item_drop_down, div.item, .item_drop_down2, div.item
{
    direction:rtl !important;
    text-align:right !important;
}

.item_drop_down, .item_drop_down2
{
    width:220px !important;
    margin:0 auto 0 !important;
    height:50px !important;
    border-radius: .28571429rem !important;

    font-family:"Samim";
    font-family:"Samim";
    outline:none;
    
    padding:17px !important;


    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.item_drop_down2
{
    padding-right:15px !important;
}

.font_light
{
    font-weight:500 !important;
}

.font_bold
{
    font-weight:700 !important;
}

.item_drop_down .fa-chalkboard-teacher,
.ui.selection.dropdown.item_drop_down2 .university.icon
{
    font-size:17px;
    position: relative;
    left:8px;
    color: rgb(134, 134, 134) !important;
}



.ui.selection.dropdown.item_drop_down2 .university.icon
{
    left:12px;
}


/* --------Drop Down Ends ----- */


/* File Begins */
.group_inputs2
{
    display:flex;
    flex-wrap:wrap;
    text-align:center !important;
    direction:rtl !important;
    font-family:"Samim" !important;
    
    width:520px !important;
    margin:20px auto 20px !important;
}

.item3
{
    width:350px !important;
    /* background-color:red; */
}

.item4
{
    width:120px !important;
    padding-top:7px;
    /* background-color:green; */
}

.file_submit, .free_file_submit
{
    text-align:left;
    padding-top:4px;
}

.file_submit_div, .free_file_submit_div
{
    border-radius:20px !important;
    padding:5px 5px 5px 5px !important;
    /* background-color:orange !important; */
}

.file_submit_div .x.icon, .free_file_submit_div .x.icon
{
    float:left;
    position:relative;
    top:5px;
    left:5px;
    color:rgb(77, 77, 77);
    cursor:pointer;
}

input[name = "file_uploads"], input[name = "free_file_uploads"]
{
    display:none;
}

.file_text, .free_file_text
{
    border-radius:20px !important;
    padding:5px 10px 5px 10px;
    color:rgb(155, 155, 155);
    float:left;
    position:relative;
    top:1px;
}

.file_button, .free_file_button
{
    float:right !important;
    padding:6px 10px 5px 10px;
    font-family:"Samim";
    border-radius:20px;
    border:1px solid rgb(216, 216, 216);
    background-color:rgb(216, 216, 216);
    outline:none;
    cursor:pointer;
}

.clear_both
{
    clear:both;
}

/* File Ends */

.item4 .submit_btn
{
    border-radius:8px !important;
    padding:10px !important;
    width:100% !important;

    font-family:"Samim";
    color:#ffffff;
    font-weight:500 !important;
    background-color:#52a7cc;
    border:1px solid #52a7cc;
    /* color:white; */
    outline:none;
    cursor:pointer;
    position:relative;
    bottom:2px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.submit_btn:hover
{
    background-color:#2d81a5;
    border:1px solid #2d81a5;
}



/* -------------------Main Form Ends---------------- */


/* Responsive */
@media (max-width: 970px)
{   
    .student_free_menu_container
    {
        width:655px !important;
        margin:0 auto 0 !important;
    }

    .student_free_menu
    {
        left:0px !important;
        width:100% !important;
    }

    .form_container
    {
        width:100%;
    }

    .form_picture
    {
        display:none !important;
    }

    .group_inputs, .group_inputs2
    {
        width:670px !important;
    }

    .item1, .item_drop_down, .item_drop_down2
    {
        width:320px !important;
    }

    .item2
    {
        width:655px !important;
    }

    .item3
    {
        width:475px !important;
    }

    .item4
    {
        width:155px !important;
    }
} 


@media (max-width: 745px)
{   
    .student_free_menu_container
    {
        width:510px !important;
    }

    .group_inputs, .group_inputs2
    {
        width:520px !important;
    }

    .item1, .item_drop_down, .item_drop_down2
    {
        width:250px !important;
    }

    .item2
    {
        width:510px !important;
    }

    .item3
    {
        width:375px !important;
    }

    .item4
    {
        width:120px !important;
    }
} 

@media (max-width: 600px)
{   
    .main_div
    {
        width:100%;
    }

    .student_free_menu_container
    {
        width:90% !important;
    }

    .group_inputs, .group_inputs2
    {
        width:500px !important;
    }

    .item1, .item_drop_down, .item_drop_down2
    {
        width:235px !important;
    }

    .item2
    {
        width:490px !important;
    }

    .item3
    {
        width:365px !important;
    }

    .item4
    {
        width:100px !important;
    }
} 

@media (max-width: 500px)
{ 
    .group_inputs, .group_inputs2
    {
        width:95% !important;
        margin-top:0px !important;
    }

    .item1, .item_drop_down, .item_drop_down2
    {
        width:95% !important;
        margin-top:15px !important;
    }

    .item2
    {
        width:95% !important;
        margin-top:15px !important;
    }

    .item3
    {
        width:95% !important;
        margin-top:15px !important;
    }

    .item4
    {
        width:95% !important;
        margin-top:15px !important;
    }
} 

/* 1100 Friendly */
