
@font-face
{
    font-family: 'yekan';
    font-style: normal;
	font-weight: 300;
    src:url(../Static/fonts/Yekan/yekan.eot?#) format('embedded-opentype'),    
          url(../Static/fonts/Yekan/yekan.woff) format('woff'),
          url(../Static/fonts/Yekan/yekan.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Samim';
    src: url(../Static/fonts/Samim/Samim.eot);
    src: url(../Static/fonts/Samim/Samim.woff2) format('woff2'),
            url(../Static/fonts/Samim/Samim.woff) format('woff');
}

::placeholder
{
    font-size:14px;
    font-weight:lighter;
    font-family:"Samim" !important;
    color:rgb(212, 212, 212);
}

body
{
    padding-top:40px !important;

    padding-top:100px !important;
}



.ui[class*="middle aligned"].grid > .column:not(.row), .ui[class*="middle aligned"].grid > .row > .column, .ui.grid > [class*="middle aligned"].row > .column, .ui.grid > [class*="middle aligned"].column:not(.row), .ui.grid > .row > [class*="middle aligned"].column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.ui[class*="center aligned"].grid > .column, .ui[class*="center aligned"].grid > .row > .column, .ui.grid > [class*="center aligned"].row > .column, .ui.grid > [class*="center aligned"].column.column, .ui.grid > .row > [class*="center aligned"].column.column {
    text-align: center;
    -ms-flex-item-align: inherit;
    align-self: inherit;
}
.ui.grid > .column:only-child, .ui.grid > .row > .column:only-child {
    width: 100%;
}
.ui.grid > .column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}
.ui.grid > * {
    padding-left: 1rem;
    padding-right: 1rem;
}
.column {
    max-width: 450px;
}

.ui[class*="center aligned"].grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ui.grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.ui.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0em;
}
body > .grid {
    height: 100%;
}






/* ------------------------------------------------------------------------------- fixed menu begins */

.fixed_menu
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:rgb(255, 255, 255);
    z-index: 999;
    padding:0px 100px 0px 100px;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.fixed_menu_item
{
    margin-left:20px;
    font-family:"Samim";
    font-weight:900;
    float:right;
    height:100%;
    width:110px;
    text-align:center;
    font-size:16px;
    line-height:55px;
    direction:rtl;
    color:rgb(23, 19, 70);
}

.fixed_menu_item .icon
{
    margin-left:5px;
}

.material_logo
{
    float:left;
    margin-right:30px;
    height:60px !important;
    cursor:pointer;
}

.labaratory_fixed
{
    width:130px;
}

.education_fixed
{
    width:140px;
    padding-bottom:10px !important;
}

.login_fixed
{
    float:left !important;
    width:140px;
    display:block !important;
    
    padding-top:9px !important;
    line-height:30px;
}

.sign_up_fixed
{
    float:left !important;
    width:140px;
    display:block !important;
}

.dashboard_fixed
{
    float:left !important;
    width:140px;
    display:block !important;

    padding-top:9px !important;
    line-height:30px;
}

.home_fixed .home.icon
{
    color:rgb(13, 121, 54) !important;
    font-size:21px;
}

.labaratory_fixed .flask.icon
{
    color:goldenrod !important;
    font-size:21px;
}

.education_fixed .laptop.icon
{
    color:rgb(19, 104, 110);
    font-size:21px;
}

.login_fixed .sign-in
{
    color:#52a7cc;
    font-size:26px;
    position:relative;
    top:5px;
}

.sign_up_fixed .user.plus
{
    color:crimson;
    font-size:21px;
    position:relative;
}

.dashboard_fixed .map.signs.icon
{
    color:#425c81;
    font-size:23px;
    position:relative;  
}

.active_fixed
{
    font-weight:600 !important;
    color:black;
    background-color:rgb(177, 211, 221);
}

/* ------------------------------------------------------------------------------- fixed menu ends */






.main_div
{
    /* background-color:cadetblue !important; */
    width:90%;
    margin:0 auto 0 !important;
    display:flex;
    flex-wrap:wrap;
}

.form_container, .form_picture
{
    /* background-color:red; */
    padding:0px !important;
    margin:0 auto 0;
}

.form_picture_container img
{
    display:block !important;
    margin:0 auto 0 !important;
    width:300px !important;
}

.form_picture
{
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color:teal; */
    position:relative;
    bottom:40px;
}

.form_picture_text
{
    padding-top:20px;
    text-align:center;
}

.form_picture_container .ui.header, .form_text
{
    font-family:'Samim' !important;
    direction:rtl !important;
    text-align:right;
}








  
.switch-button
{
    background: #D8E3E9;
    border-radius: 30px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-family:"Samim" !important;
    font-weight:900 !important;
    letter-spacing: 1px;
    color: #155FFF;
    color:cadetblue;
    position: relative;
    padding-right: 100px;
    position: relative;
    margin-top:20px;
}
  
.switch-button:before
{
    content: "دانشجو";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
  
.switch-button-checkbox
{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
  
.switch-button-checkbox:checked + .switch-button-label:before
{
    transform: translateX(100px);
    transition: transform 200ms linear;
}
  
.switch-button-checkbox + .switch-button-label
{
    position: relative;
    padding: 10px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}
  
.switch-button-checkbox + .switch-button-label:before
{
    content: "";
    background: rgb(139, 184, 194);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}
  
.switch-button-label-span 
{
    position: relative;
}



.master_or_student
{
    margin-top:20px;
}


.master_or_student .ui.header
{
    font-family:"Samim" !important;
    text-align:center;
}


/* Student Free Begins */
.student_free_menu
{
    position:relative;
    left:29px;
    width:495px !important;
    margin:0 auto 0 !important;
}

.student_free_menu .item
{
    font-family:"Samim" !important;
    /* width:300px !important; */
}

.student_free_menu .active
{
    font-family:"Samim" !important;
    font-weight:900 !important;
}

.ui.menu>.item:first-child {
    border-radius: 0px !important;
}

/* -------------------Main Form Begins---------------- */
.main_form
{
    width:100%;
    margin:20px auto 0;
}

.group_inputs
{
    display:flex;
    flex-wrap:wrap;
    text-align:center !important;
    direction:rtl !important;
    font-family:"Samim" !important;
    
    width:550px !important;
    margin:20px auto 0 !important;
}

.item1, .item2, .item3, .item4
{
    width:220px !important;
    margin:0 auto 0 !important;
    direction:rtl !important;
}

.item2
{
    width:495px !important;
}

.individual_input
{
    font-family:"Samim" !important;
    width:100%;
    padding:15px !important;
    direction:rtl !important;
    text-align:right !important;
    border:none;
    /* border-bottom:2px solid rgb(21, 180, 185); */
    outline:none;
    font-size:15px;
    font-weight:700;
}

.ui.icon.input.item1 .icon, .ui.icon.input.item2 .icon
{
    color:rgb(134, 134, 134) !important;
    opacity:1 !important;
}

.ui.icon.input.item1 .id.card.icon
{
    font-size:18px;
    position: relative;
    right:10px;
}

.ui.icon.input.item1 .graduation.cap.icon, .ui.icon.input.item2 .envelope.icon,
.ui.icon.input.item1 .calendar.icon, .ui.icon.input.item1 .users.icon,
.ui.icon.input.item1 .university.icon, .ui.icon.input.item1 .phone.icon,
.ui.icon.input.item2 .pencil.alternate.icon, .ui.icon.input.item2 .university.icon
{
    font-size:17px;
    position: relative;
    right:10px;
}

.jdp-years, .jdp-months, .jdp-days, .jdp-footer
{
    font-family:Samim !important;
}

.jdp-year
{
    padding-top: 5px !important;
}

jdp-container .jdp-year:hover, jdp-container .jdp-year input:hover, jdp-container .jdp-year select:hover, jdp-container .jdp-month:hover, jdp-container .jdp-month input:hover, jdp-container .jdp-month select:hover
{
    background-color:rgb(228, 228, 228) !important;
}

input[name = "proposal_date"], input[name = "student_number"], input[name = "national_id"],
input[name = "email"], input[name = "phone"],
input[name = "free_national_id"], input[name = "free_email"], input[name = "free_phone"]
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight:700 !important;
    direction:ltr !important;
}




/* --------Email logo Begins ----- */
.email_lbl
{
    border-radius:0px !important;
    padding:0px !important;
    padding-top:10px !important;

    background-color:white !important;
    direction:rtl !important;
    border-radius:0px !important;  
}

.email_image
{
    position:relative;
    left:40px;
}

.email_align
{
    text-align : right !important;
}

.email_align2
{
    text-align : center !important;
}
/* --------Email logo Ends ----- */






.btn1
{
    font-family:"Samim" !important;
    width:495px !important;
    display:block !important;
    margin:20px auto 25px !important;
    border:none;
    outline:none;
    border-radius:5px;
    padding-top:10px !important;
    padding-bottom:12px !important;
    cursor:pointer;
    color:#425c81 !important;
    color:#ffffff !important;
    font-weight:500 !important;
    background-color:#a5d4de !important;
    background-color:#52a7cc !important;
    text-align:center !important;
}

.btn1 h4
{
    font-family:"Samim" !important;
    
    color:#425c81 !important;
    color:#ffffff !important;
    font-size:16px;
    text-align:center !important;
}

.visible.content
{
    color:#425c81 !important;
    color:#ffffff !important;
    font-size:15px;
    text-align:center !important;
}

.btn1 .icon
{
    font-size:16px !important;
}

.display_none
{
    display:none !important;
}



/* --------Drop Down Begins ----- */
.item_drop_down, div.item
{
    direction:rtl !important;
    text-align:right !important;
}

.item_drop_down
{
    width:220px !important;
    margin:0 auto 0 !important;
    height:50px !important;
    border-radius: .28571429rem !important;

    font-family:"Samim";
    font-family:"Samim";
    outline:none;
    
    padding:17px !important;


    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.font_light
{
    font-weight:500 !important;
}

.font_bold
{
    font-weight:700 !important;
}

.item_drop_down .fa-chalkboard-teacher
{
    font-size:17px;
    position: relative;
    left:8px;
    color: rgb(134, 134, 134) !important;
}


/* --------Drop Down Ends ----- */


/* File Begins */
.group_inputs2
{
    display:flex;
    flex-wrap:wrap;
    text-align:center !important;
    direction:rtl !important;
    font-family:"Samim" !important;
    
    width:520px !important;
    margin:20px auto 0 !important;
}

.item3
{
    width:350px !important;
    /* background-color:red; */
}

.item4
{
    width:120px !important;
    padding-top:7px;
    /* background-color:green; */
}

.file_submit, .free_file_submit
{
    text-align:left;
    padding-top:4px;
}

.file_submit_div, .free_file_submit_div
{
    border-radius:20px !important;
    padding:5px 5px 5px 5px !important;
    /* background-color:orange !important; */
}

.file_submit_div .x.icon, .free_file_submit_div .x.icon
{
    float:left;
    position:relative;
    top:5px;
    left:5px;
    color:rgb(77, 77, 77);
    cursor:pointer;
}

input[name = "file_uploads"], input[name = "free_file_uploads"]
{
    display:none;
}

.file_text, .free_file_text
{
    border-radius:20px !important;
    padding:5px 10px 5px 10px;
    color:rgb(155, 155, 155);
    float:left;
    position:relative;
    top:1px;
}

.file_button, .free_file_button
{
    float:right !important;
    padding:6px 10px 5px 10px;
    font-family:"Samim";
    border-radius:20px;
    border:1px solid rgb(216, 216, 216);
    background-color:rgb(216, 216, 216);
    outline:none;
    cursor:pointer;
}

.clear_both
{
    clear:both;
}

/* File Ends */

.item4 .submit_btn
{
    border-radius:8px !important;
    padding:10px !important;
    width:100% !important;

    font-family:"Samim";
    color:#ffffff;
    font-weight:500 !important;
    background-color:#52a7cc;
    border:1px solid #52a7cc;
    /* color:white; */
    outline:none;
    cursor:pointer;
    position:relative;
    bottom:2px;
    transition-duration: 0.4s;
}

.submit_btn:hover
{
    background-color:#2d81a5;
    border:1px solid #2d81a5;
}



/* -------------------Main Form Ends---------------- */
